.jumbotron {
    background-color: rgb(230, 79, 79);
    color: white;
}

.card-header {
    background-color: rgba(17, 29, 83, 0.925);
    color: white;
}

.card-body {
    background-color: rgb(227, 228, 233);
    padding: 21px;
    scroll-padding-left: 5px;
}